body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 0.75rem;
}

.image-preview-card img {
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #dee2e6;
}

#pageHeader {
  font-weight: 600;
  font-size: 1.75rem;
  color: #343a40;
}

label {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #86b7fe;
}

.btn {
  font-weight: 500;
  border-radius: 0.5rem;
}

.scrollable-right {
  overflow-y: auto;
  max-height: 70vh;
  padding-bottom: 50px;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.card {
  margin-bottom: 20px;
}
